@import "colors";

.mt-chip {
    display: inline-block;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    padding: 0px 16px !important;
    height: 34px;
    font-size: 14px;
    border-radius: 50px;

    img {
        float: left;
        margin: 0 6px  0 -15px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border-style: none
    }
    
}

.mt-chip-large {
    padding: 7px 30px !important;
    height: 48px;
    font-size: 16px;
    border-radius: 50px;
}

.mt-chip-normal {
    padding: 0px 20px !important;
    height: 34px;
    font-size: 14px;
    border-radius: 50px;
}

.mt-chip-small {
    padding: 0px 12px !important;
    height: 34px;
    font-size: 12px;
    border-radius: 50px;
}

.mt-close {
    position: relative;
    right: 0px;
    top: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;

    &:before {
        position: absolute;
        left: 8px;
        top: 1px;
        content: ' ';
        height: 13px;
        width: 2px;
        background-color: #333;
        transform: rotate(45deg);
    }

    &:after {
        position: absolute;
        left: 8px;
        top: 1px;
        content: ' ';
        height: 13px;
        width: 2px;
        background-color: #333;
        transform: rotate(-45deg);
    }
}

.mt-close-large {
    right: -8px;
    top: 2px;

    &:before {
        left: 8px;
        height: 16px;
        width: 2px;
    }

    &:after {
        left: 8px;
        height: 16px;
        width: 2px;
    }
}

.mt-close-small {
    right: 0px;
    top: 4px;

    &:before {
        left: 7px;
        top: 2px;
        height: 11px;
        width: 2px;
    }

    &:after {
        left: 7px;
        top: 2px;
        height: 11px;
        width: 2px;
    }
}